[req]
days               = 3650
distinguished_name = req_distinguished_name
req_extensions     = v3_req

[req_distinguished_name]

[v3_req]
basicConstraints   = CA:FALSE
keyUsage           = digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment, keyAgreement, keyCertSign
subjectAltName     = DNS:mpc
